body {
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f7;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    /* タイトル画像とタイトルを横並びに */
    .title-container {
        display: flex;
        flex-direction: row; /* タイトル画像とタイトルを横並びに */
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; /* タイトルとチャートの間に余白を追加 */
    }

    .title-image {
        width: 60px; /* 画像のサイズを調整 */
        height: auto;
        margin-right: 10px; /* タイトルとの間に余白 */
    }

    .title-container h1 {
        font-size: 24px; /* タイトルフォントを小さくして横に収める */
        white-space: nowrap; /* タイトルが改行されないようにする */
        margin: 0;
    }

    /* チャート全体を横並びに配置 */
    .chart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px; /* タイトルとの間に余白 */
    }

    /* チャートを横並びに配置 */
    .chart-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; /* 横幅いっぱいに表示 */
    }

    #prefectureChart {
        max-width: 170px; /* ドーナツ型チャートのサイズを調整 */
        max-height: 150px;
        margin-right: 20px; /* チャート間に余白を追加 */
    }

    #achievementBarChart {
        max-width: 200px; /* バーグラフのサイズを調整 */
        max-height: 180px;
        margin-right: 5px; /* 最後のチャートには余白をなくす */
    }

    #achievement-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    #train-emoji {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #train-emoji span {
        margin-right: 5px; /* 絵文字とテキストに少し余白を追加 */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* iPadの場合 */
    .title-container h1 {
        font-size: 36px; /* 少し小さくする */
        white-space: nowrap; /* 強制的に1行に収める */
    }
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d1d1f;
    font-size: 48px;
    margin-bottom: 20px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-image {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

#prefectureChart {
    max-width: 214px;
    max-height: 214px;
}

.geolonia-svg-map {
    position: center;
    padding: 1.7647058824rem;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
}

.prefecture {
    fill: #ffffff;
    stroke: #D3D3D3;
    stroke-width: 2.0;
    transition: fill 0.3s ease;
    cursor: pointer; /* クリック可能にする */
}

.prefecture:hover {
    fill: #f0f0f0;
}

.visited {
    fill: #C4E1F2;
}

.visited:hover {
    fill: #71b8ee;
}

.lived {
    fill: #c2e6aa; /* 薄い緑色に設定 */
}

.lived:hover {
    fill: #96e065; /* ホバー時に色を濃くする */
}

#selection-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#selection-buttons.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#selection-buttons.hidden {
    transform: translate(-50%, -50%) scale(0.5);
}

#selection-buttons button {
    background-color: #ffa07a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* 以下を追加 */
@media only screen and (max-width: 768px) {
    #selection-buttons button {
        padding: 15px 30px;
        font-size: 18px;
    }
}

#selection-buttons button:hover {
    background-color: #ff7f50;
}

#achievementBarChart {
    margin-top: 20px;
    max-width: 300px;
    max-height: 20px;
}

#achievement-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

#train-emoji {
    position: absolute;
    left: 0;
    bottom: -17%; /* Position the emoji above the bar chart */
    font-size: 24px; /* Adjust size as needed */
    transition: left 0.3s ease; /* Smooth transition */
}

#achievementBarChart {
    width: 100%;
    height: 20px;
}

#train-emoji-container {
    position: relative;
    display: inline-block;
    align-items: center; /* 垂直方向に中央揃え */
    justify-content: center;
}

#achievement-percentage {
    position: absolute;
    top: 50%; /* 中心に配置 */
    left: 50%;
    transform: translate(-5%, -272%); /* 水平方向と垂直方向の中心に移動 */
    font-size: 12px;
    color: #79d587;
    z-index: 10; /* 絵文字の上に表示 */
}
